@import 'mixins.scss';

.footer {
    background: #15091E;
    

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 88px;
    }

    &__logo .logo {
        color: #6C6C6C;
        transition: all 0.3s ease;

        &:hover {
            color: #FFF;
            transition: all 0.3s ease;
        }
    }

    &__link {
        margin-left: 32px;

        &:hover{
            .footer__link-img path {
                fill: #FFF;
                transition: all 0.3s ease;
            }
        }

        &-img path {
            fill: #6C6C6C;
            transition: all 0.3s ease;
        }
    }
}



// Responsive -------------------

@media screen and (max-width: 960px) {

    .footer__wrapper {
        height: 48px;
    }

    .footer__logo .logo {
        @include make-font-size (14px, 17px);
    }

    .footer__link {
        margin-left: 16px;
    }
    .footer__link-img {
        width: 16px;
        height: 16px;
    }
}

@media screen and (max-width: 440px) {
    .footer__wrapper {
        height: 38px;
    }
}
