.header .wrapper {
  position: relative;
}

.header__wrapper {
  padding: 44px 0 80px;
}

.header__media {
  position: absolute;
  max-width: 58%;
  min-width: 485px;
  top: 0;
  right: 0;
  z-index: -1;
}

.header__media-img {
  display: block;
  width: 100%;
}

.menu__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 104px;
}

.header__logo {
  position: relative;
  z-index: 20;
}

.logo {
  font-size: 24px;
  line-height: 28px;
}

.menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  margin-left: auto;
  margin-right: 8px;
}

.menu-list__item {
  margin-left: 24px;
}

.menu-list__item:first-child {
  margin-left: 0;
}

.menu-list__item a {
  vertical-align: middle;
  font-size: 14px;
  line-height: 17px;
  color: #FFF;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.menu-list__item a:hover {
  color: #3F425B;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.menu-links__item {
  margin-left: 24px;
}

.menu-links__img path {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.menu-links__item:hover .menu-links__img path {
  fill: #3F425B;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.header__mobile-img {
  display: none;
}

.header__burger {
  display: none;
}

.header__main {
  max-width: 41%;
}

.header__main-head-title {
  font-size: 36px;
  line-height: 43px;
}

.header__main-title {
  font-weight: 500;
  padding: 16px 0;
  color: #fff;
}

.header__main-subtitle {
  font-size: 36px;
  line-height: 43px;
}

.header__main-text {
  font-size: 18px;
  line-height: 25px;
  font-weight: 400;
  padding: 32px 0 60px;
}

.button {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  padding: 16px 80px;
  border: none;
  border-radius: 8px;
  background: #FF9737;
  -webkit-box-shadow: 0px 2px 4px rgba(44, 39, 56, 0.15), 0px 1px 10px rgba(44, 39, 56, 0.1);
          box-shadow: 0px 2px 4px rgba(44, 39, 56, 0.15), 0px 1px 10px rgba(44, 39, 56, 0.1);
  color: #fff;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  cursor: pointer;
}

.button:hover {
  background: #FF6337;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.button:focus {
  outline: none;
}

@media screen and (max-width: 1355px) {
  .header__main-head-title {
    font-size: 24px;
    line-height: 32px;
  }
  .header__main-title {
    font-size: 32px;
    line-height: 36px;
  }
  .header__main-subtitle {
    font-size: 24px;
    line-height: 32px;
  }
  .header__main-text {
    font-size: 16px;
    line-height: 20px;
  }
  .button {
    font-size: 20px;
    line-height: 22px;
    padding: 12px 60px;
  }
}

@media screen and (max-width: 1080px) {
  .header__wrapper {
    padding: 40px 0 48px;
  }
  .header__menu {
    margin-bottom: 88px;
  }
  .header__main {
    max-width: 45%;
  }
  .header__main-title {
    padding: 8px 0;
  }
  .header__main-text {
    padding: 32px 0 42px;
  }
}

@media screen and (max-width: 960px) {
  .menu-list {
    margin-right: 0;
  }
  .menu-list__item {
    margin-left: 16px;
  }
  .menu-list__item a {
    font-size: 9px;
    line-height: 11px;
  }
  .header__main {
    max-width: 38%;
  }
  .header__main-head-title {
    font-size: 18px;
    line-height: 21px;
  }
  .header__main-title {
    font-size: 24px;
    line-height: 28px;
  }
  .header__main-subtitle {
    font-size: 18px;
    line-height: 21px;
  }
  .header__main-text {
    font-size: 11px;
    line-height: 15px;
  }
  .button {
    font-size: 14px;
    line-height: 16px;
    padding: 8px 46px;
  }
  .menu-links__img {
    width: 16px;
    height: 16px;
  }
}

@media screen and (max-width: 740px) {
  .header__main {
    max-width: 45%;
  }
  .header__menu {
    margin-bottom: 48px;
  }
  .header__media {
    min-width: 45%;
  }
  .header__main-text {
    padding: 32px 0 32px;
  }
  .menu__wrapper {
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100vh;
    background: #1E0F2B;
    z-index: 0;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    padding: 120px 0 120px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    overflow: auto;
    z-index: 10;
  }
  .menu__wrapper.active {
    left: 0;
    -webkit-transition: all 0.8s ease;
    transition: all 0.8s ease;
  }
  .menu-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0;
  }
  .menu-list__item {
    margin: 0 0 32px 0;
  }
  .menu-list__item a {
    font-size: 16px;
    line-height: 19px;
  }
  .menu-links__item:first-child {
    margin-left: 0;
  }
  .menu-links__img {
    width: 24px;
    height: 24px;
  }
  .header__mobile-img {
    display: block;
    position: absolute;
    top: 30%;
    left: 0;
    max-width: 190px;
    z-index: -1;
  }
  .header__burger {
    position: relative;
    display: block;
    width: 18px;
    height: 14px;
    z-index: 0;
  }
  .header__burger span {
    position: absolute;
    background-color: #FFF;
    width: 100%;
    height: 2px;
    top: 6px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header__burger::before,
  .header__burger::after {
    content: '';
    position: absolute;
    background-color: #FFF;
    width: 100%;
    height: 2px;
    left: 0;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header__burger::before {
    top: 0;
  }
  .header__burger::after {
    bottom: 0;
  }
  .header__burger.active span {
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header__burger.active::before {
    top: 5px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
  }
  .header__burger.active::after {
    bottom: 7px;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    -webkit-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
  }
  .header__burger.active {
    z-index: 30;
  }
}

@media screen and (max-width: 600px) {
  .header__wrapper {
    padding: 20px 0 0;
  }
  .header__menu {
    margin-bottom: 90%;
  }
  .header__mobile-img {
    top: 34%;
  }
  .header__media {
    max-width: 100%;
    min-width: 0;
    right: 0;
  }
  .header__main {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
  }
  .button {
    padding: 8px 36px;
  }
}

@media screen and (max-width: 440px) {
  .logo {
    font-size: 19px;
    line-height: 23px;
  }
}
/*# sourceMappingURL=header.css.map */