.registration {
  padding: 32px 0 152px;
  text-align: center;
}

.registration .wrapper {
  position: relative;
}

.registration__subtitle {
  margin: 32px 0 64px;
  font-size: 30px;
  line-height: 42px;
}

.registration__form {
  display: inline-block;
  padding: 48px;
  border-radius: 27px;
  -webkit-box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1), 0px 8px 8px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1), 0px 8px 8px rgba(0, 0, 0, 0.15);
}

.registration__group {
  position: relative;
  margin-bottom: 32px;
}

.registration__input {
  font-size: 24px;
  line-height: 28px;
  padding: 0 10px;
  width: 400px;
  height: 64px;
}

.registration__button.button {
  font-family: 'Rubik', sans-serif;
  padding: 0;
  width: 400px;
  height: 64px;
}

.registration__accept {
  padding-top: 100px;
  border-radius: 27px;
  width: 496px;
  height: 352px;
}

.registration__accept-text {
  margin-top: 32px;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
}

.registration__error {
  margin-top: 5px;
}

.registration__error-text {
  font-size: 13px;
  line-height: 15px;
  margin-left: 5px;
}

.registration__cloud {
  position: absolute;
  z-index: -1;
}

.registration__cloud-img {
  width: 100%;
}

.registration__cloud-desktop {
  top: -220px;
  right: 0;
}

.registration__cloud-tablet-left, .registration__cloud-tablet-right, .registration__cloud-mobile {
  display: none;
}

.form {
  background: #413F49;
}

input {
  color: #FFF;
  border: 1px solid #C0C0C0;
  border-radius: 6px;
  background: #413F49;
}

input.err {
  border: 1px solid #FF0000;
}

input:focus, input:hover {
  outline: none;
  border: 1px solid #FF9737;
}

input:-webkit-autofill {
  -webkit-text-fill-color: #FFF;
  -webkit-box-shadow: 0 0 0px 64px #413F49 inset;
}

.lable {
  position: absolute;
  top: -16px;
  left: 3px;
  font-weight: 300;
  font-size: 13px;
  line-height: 15px;
}

.error {
  position: absolute;
  display: none;
  font-weight: 300;
  color: #FF0000;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.error-text {
  margin-left: 5px;
}

.accept {
  display: none;
  background: #413F49;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

@media screen and (max-width: 1230px) {
  .registration__cloud-desktop {
    display: none;
  }
  .registration__cloud-tablet-left,
  .registration__cloud-tablet-right {
    display: block;
  }
  .registration__cloud-tablet-left {
    top: -64px;
    left: 0;
  }
  .registration__cloud-tablet-right {
    bottom: -100px;
    right: 140px;
  }
}

@media screen and (max-width: 860px) {
  .registration {
    padding-bottom: 118px;
  }
  .registration__title {
    font-size: 24px;
    line-height: 28px;
  }
  .registration__subtitle {
    margin: 32px 0 40px;
    font-size: 14px;
    line-height: 20px;
  }
  .registration__form {
    padding: 32px;
    border-radius: 20px;
  }
  .registration__group {
    margin-bottom: 20px;
  }
  .registration__input {
    font-size: 16px;
    line-height: 20px;
    width: 220px;
    height: 36px;
  }
  .registration__lable {
    top: -10px;
    font-size: 9px;
    line-height: 11px;
  }
  .registration__button.button {
    width: 220px;
    height: 36px;
  }
  .registration__accept {
    padding-top: 56px;
    border-radius: 20px;
    width: 284px;
    height: 212px;
  }
  .registration__accept img {
    width: 56px;
  }
  .registration__accept-text {
    margin-top: 24px;
    font-size: 18px;
    line-height: 24px;
  }
  .registration__error {
    font-size: 9px;
    line-height: 11px;
    margin-top: 3px;
  }
  .registration__error svg {
    width: 10px;
  }
  .registration__error-text {
    margin-left: 3px;
  }
  .registration__cloud-tablet-right {
    bottom: -126px;
  }
}

@media screen and (max-width: 500px) {
  .registration {
    padding-bottom: 48px;
    overflow: hidden;
  }
  .registration__cloud-tablet-left {
    display: none;
  }
  .registration__cloud-tablet-right {
    right: 0;
    bottom: -72px;
  }
  .registration__cloud-mobile {
    display: block;
    bottom: -16px;
    left: -74px;
    min-width: 435px;
  }
}

@media screen and (max-width: 400px) {
  .registration__subtitle {
    margin: 32px 0;
  }
  .registration__form {
    padding: 32px 30px;
  }
}
/*# sourceMappingURL=registration.css.map */