.scroll-top__button {
    position: fixed;
    bottom: 88px;
    right: 2%;
    width: 68px;
    height: 68px;
    border-radius: 100%;
    // box-shadow: $box-shadow;
    border: none;
    outline: none;
    z-index: 100;
    cursor: pointer;
    display: none;

    &-img {
        width: 100%;
        height: 100%;
    }

    &-img path{
        transition: all 0.3s ease;
    }

    &:hover {
        .scroll-top__button-img path {
            fill: #FF6337;    
        }
    }
}

// Adaptive    

@media screen and (max-width: 860px) {
    .scroll-top__button {
        bottom: 56px;
        width: 42px;
        height: 42px;
    }
}