.youget {
  padding: 32px 0 96px;
}

.youget .wrapper {
  position: relative;
}

.youget__cloud-right {
  position: absolute;
  bottom: -35%;
  right: 0;
  max-width: 50%;
  min-width: 390px;
  z-index: -1;
}

.youget__cloud-left {
  position: absolute;
  top: 60%;
  left: 0;
  max-width: 20%;
  min-width: 180px;
  z-index: -1;
}

.youget__cloud-img {
  width: 100%;
}

.youget__title {
  margin-bottom: 56px;
  text-align: center;
}

.youget__skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.youget__skill {
  padding: 32px 16px;
  max-width: 18%;
  text-align: center;
  background: #413F49;
  border-radius: 27px;
  -webkit-box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1), 0px 8px 8px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1), 0px 8px 8px rgba(0, 0, 0, 0.15);
  height: 320px;
}

.youget__skill-text {
  font-size: 18px;
  line-height: 25px;
  margin-top: 16px;
}

.youget__skill:nth-child(1), .youget__skill:nth-child(5) {
  margin-top: 48px;
}

.youget__skill:nth-child(2), .youget__skill:nth-child(4) {
  margin-top: 24px;
}

@media screen and (max-width: 1400px) {
  .youget__skill {
    height: 280px;
  }
  .youget__skill-text {
    font-size: 15px;
    line-height: 20px;
  }
}

@media screen and (max-width: 1280px) {
  .youget__skill {
    padding: 16px 4px;
  }
}

@media screen and (max-width: 1140px) {
  .youget__skill-text {
    font-size: 13px;
    line-height: 18px;
  }
}

@media screen and (max-width: 960px) {
  .youget__title {
    margin-bottom: 40px;
  }
  .youget__title h2 {
    font-size: 24px;
    line-height: 28px;
  }
}

@media screen and (max-width: 860px) {
  .youget {
    padding-bottom: 48px;
  }
  .youget__cloud-right {
    bottom: -45%;
  }
  .youget__skill {
    border-radius: 20px;
    height: 176px;
  }
  .youget__skill-img {
    width: 56px;
    height: 56px;
  }
  .youget__skill-text {
    font-size: 11px;
    line-height: 15px;
    margin-top: 8px;
  }
  .youget__skill:nth-child(1), .youget__skill:nth-child(5) {
    margin-top: 24px;
  }
  .youget__skill:nth-child(2), .youget__skill:nth-child(4) {
    margin-top: 12px;
  }
}

@media screen and (max-width: 740px) {
  .youget {
    padding-bottom: 44px;
  }
  .youget__cloud-right {
    bottom: 43%;
    min-width: 280px;
  }
  .youget__cloud-left {
    top: 60%;
    min-width: 42%;
  }
  .youget__skills {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .youget__skill {
    min-width: 45%;
    padding: 20px 8px 0;
  }
  .youget__skill-text {
    font-size: 11px;
    line-height: 15px;
    max-width: 180px;
    margin: 8px auto 0;
  }
  .youget__skill:nth-child(1), .youget__skill:nth-child(5) {
    margin-top: 0;
  }
  .youget__skill:nth-child(2), .youget__skill:nth-child(4) {
    margin-top: 0;
  }
  .youget__skill:not(:first-child) {
    margin-top: 44px;
  }
  .youget__skill:nth-child(2) {
    margin-top: 88px;
  }
  .youget__skill:nth-child(3), .youget__skill:nth-child(5) {
    margin-top: -44px;
  }
}

@media screen and (max-width: 400px) {
  .youget__cloud-left {
    top: 82%;
  }
}
/*# sourceMappingURL=youget.css.map */