@import 'mixins.scss';


.header {
    
    .wrapper {
        position: relative;
    }

    &__wrapper {
        padding: 44px 0 80px;
    }
}

.header__media {
    position: absolute;
    max-width: 58%;
    min-width: 485px;
    top: 0;
    right: 0;
    z-index: -1;

    &-img {
        display: block;
        width: 100%;
    }
}


//  Header menu start
.menu__wrapper {
    display: flex;
}

.header__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 104px;
}

.header__logo {
    position: relative;
    z-index: 20;
}

.logo {
    @include make-font-size (24px, 28px);
}

.menu-list {
    display: flex;
    align-items: center;
    list-style: none;
    margin-left: auto;
    margin-right: 8px;

    &__item {
        margin-left: 24px;

        &:first-child {
            margin-left: 0;
        }
        & a {
            vertical-align: middle;
            @include make-font-size (14px, 17px);
            color: #FFF;
            transition: all 0.3s ease;

            &:hover {
                color: #3F425B;
                transition: all 0.3s ease;
            }
        }
    }
}

.menu-links__item {
    margin-left: 24px;
}
.menu-links__img path {
    transition: all 0.3s ease;
}

.menu-links__item:hover {
    .menu-links__img path {
        fill: #3F425B;
        transition: all 0.3s ease;
    }
}

.header__mobile-img {
    display: none;
}

.header__burger {
    display: none;
}

//  Header menu end

.header__main {
    max-width: 41%;

    &-head-title {
        @include make-font-size (36px, 43px);
    }

    &-title {
        font-weight: 500;
        padding: 16px 0;
        color: #fff;
    }

    &-subtitle {
        @include make-font-size (36px, 43px);
    }   

    &-text {
        @include make-font-size (18px, 25px);
        font-weight: 400;
        padding: 32px 0 60px;
    }
}

.button {
    font-weight: 700;
    @include make-font-size (24px, 28px);
    padding: 16px 80px;
    border: none;
    border-radius: 8px;
    background: #FF9737;
    box-shadow: 0px 2px 4px rgba(44, 39, 56, 0.15), 0px 1px 10px rgba(44, 39, 56, 0.1);
    color: #fff;
    transition: all 0.5s ease;
    cursor: pointer;

    &:hover {
        background: #FF6337;
        transition: all 0.5s ease;
    }

    &:focus {
        outline: none;
    }
}


// Adaptive     

@media screen and (max-width: 1355px) {
    .header__main {
        
        &-head-title {
            @include make-font-size (24px, 32px);
        }
    
        &-title {
            @include make-font-size (32px, 36px);
        }
    
        &-subtitle {
            @include make-font-size (24px, 32px);
        }   
    
        &-text {
            @include make-font-size (16px, 20px);
        }
    }

    .button {
        @include make-font-size (20px, 22px);
        padding: 12px 60px;
    }
}

@media screen and (max-width: 1080px) {

    .header__wrapper {
        padding: 40px 0 48px;
    }

    .header__menu {
        margin-bottom: 88px;
    }

    .header__main {
        max-width: 45%;

        &-title {
            padding: 8px 0;
        }

        &-text {
            padding: 32px 0 42px;
        }
    }
}

@media screen and (max-width: 960px) {

    .menu-list {
        margin-right: 0;
    
        &__item {
            margin-left: 16px;

            & a {
                @include make-font-size (9px, 11px);
            }
        }
    }

    .header__main {
        max-width: 38%;
        
        &-head-title {
            @include make-font-size (18px, 21px);
        }
    
        &-title {
            @include make-font-size (24px, 28px);
        }
    
        &-subtitle {
            @include make-font-size (18px, 21px);
        }   
    
        &-text {
            @include make-font-size (11px, 15px);
        }
    }

    .button {
        @include make-font-size (14px, 16px);
        padding: 8px 46px;
    }

    .menu-links__img {
        width: 16px;
        height: 16px;
    }
}

@media screen and (max-width: 740px) {

    .header__main {
        max-width: 45%;
    }

    .header__menu {
        margin-bottom: 48px;
    } 

    .header__media {
        min-width: 45%;
    }

    .header__main-text {
        padding: 32px 0 32px;
    }

    // Menu start -------------------
    .menu__wrapper {
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100vh;
        background: #1E0F2B;
        z-index: 0; 
        transition: all 0.5s ease;
        padding: 120px 0 120px;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        overflow: auto;
        z-index: 10;
      }
  
      .menu__wrapper.active {
        left: 0;
        transition: all 0.8s ease;
      }

    .menu-list {
        display: flex;
        flex-direction: column;
        margin: 0;

        &__item {
            margin: 0 0 32px 0;

            & a {
                @include make-font-size (16px, 19px);
            }
        }
    } 

    .menu-links__item:first-child {
        margin-left: 0;
    } 

    .menu-links__img {
        width: 24px;
        height: 24px;
    }

    .header__mobile-img {
        display: block;
        position: absolute;
        top: 30%;
        left: 0;
        max-width: 190px;
        z-index: -1;
    }

    // Menu end --------------------


// Header burger -------------------------

.header__burger {
    position: relative;
    display: block;
    width: 18px;
    height: 14px;
    z-index: 0;
  }

  .header__burger span {
    position: absolute;
    background-color: #FFF;
    width: 100%;
    height: 2px;
    top: 6px;
    transition: all 0.3s ease 0s;
  }

  .header__burger::before,
  .header__burger::after {
    content: '';
    position: absolute;
    background-color: #FFF;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all 0.3s ease 0s; 
  }

  .header__burger::before {
    top: 0;
  }

  .header__burger::after {
    bottom: 0;
  }    

  .header__burger.active {
    span {
      transform: scale(0);
      transition: all 0.3s ease 0s;
    }
    
    &::before {
      top: 5px;
      transform: rotate(45deg);
      transition: all 0.5s ease 0s;
    }

    &::after {
      bottom: 7px;
      transform: rotate(-45deg);
      transition: all 0.5s ease 0s;
    }
  }

  .header__burger.active {
    z-index: 30;
  }
// Header burger end-------------------------  
}

@media screen and (max-width: 600px) {

    .header__wrapper {
        padding: 20px 0 0;
    }

    .header__menu {
        margin-bottom: 90%;
    }

    .header__mobile-img {
        top: 34%;
    }

    .header__media {
        max-width: 100%;
        min-width: 0;
        right: 0;
    }

    .header__main {
        max-width: 400px;
        margin: 0 auto;
        text-align: center;
    }

    .button {
        padding: 8px 36px;
    }
}

@media screen and (max-width: 440px) {
    .logo {
        @include make-font-size (19px, 23px);
    }
}