@import 'mixins.scss';

.howWork {
    padding-top: 32px;

    .wrapper {
        position: relative;
    }

    &__cloud {
        position: absolute;
        bottom: 0;
        z-index: -1;

        &-left {
            left: 0;
            max-width: 24%; 
        }

        &-right {
            right: 0;
            max-width: 22%;
        }
    }

    &__cloud-img {
        display: block;
        width: 100%;
    }
}

.howWork__title {
    text-align: right;
    margin-bottom: 56px;
}

.howWork__steps {
    display: flex;
    justify-content: space-between;
}

.howWork__step {
    width: 24%;
    text-align: center;
    padding: 32px;
    border-radius: 27px;
    box-shadow: $box-shadow;
    background: $bg-color;
    height: 100%;

    &:nth-child(2n+1) {
        margin-top: 88px;
    }

    &-count {
        @include make-font-size (50px, 50px);
        background: #EEEBF0;
        border-radius: 100%;
        width: 72px;
        height: 72px;
        color: #FF9737;
        border: 7px solid #b8b8b8;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto 16px;
    }

    &-text {
        @include make-font-size (16px, 22px);
        font-weight: 400;
    }
}

.howWork__btn {
    text-align: center;
    margin-top: 80px;
    padding-bottom: 96px;

    .button {
        display: inline-block;
        padding: 16px 112px;
    }    
}
// Adptive ------------------

@media screen and (max-width: 1350px) {
    .howWork__step {
        padding: 20px 10px;
    }   
}

@media screen and (max-width: 1230px) {
    .howWork__step-text {
        @include make-font-size (13px, 18px);
    }
}

@media screen and (max-width: 960px) {
    .howWork__title {
        margin-bottom: 32px;

        & h2 {
            @include make-font-size (24px, 28px);
        }
        
    }

    .howWork__step:nth-child(2n+1) {
        margin-top: 52px;
    }

    .howWork__step-count {
        @include make-font-size (36px, 36px);
        width: 48px;
        height: 48px;
        border: 4px solid #b8b8b8;
        margin: 0 auto 8px;
    }

    .howWork__btn {
        margin-top: 64px;
        padding-bottom: 0;

        .button {
            padding: 8px 64px;
        }
    }

    .howWork__cloud-right {
        max-width: 18%;
    }
}

@media screen and (max-width: 860px) {
    .howWork__step-text {
        @include make-font-size (11px, 15px);
    }
}

@media screen and (max-width: 800px) {
    .howWork__cloud-right {
        max-width: 22%;
    }
}

@media screen and (max-width: 700px) {
    .howWork__title {
        text-align: center;
    }

    .howWork__steps {
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .howWork__step {
        width: 40%;
        
        &:nth-child(2n+1) {
            margin-top: 32px;
        }
    }

    .howWork__btn {
        margin-top: 32px;
    }

    .howWork__cloud-left {
        bottom: 21%;
    }

    .howWork__cloud-right {
        bottom: 30%;
    }
}

@media screen and (max-width: 500px) {
    .howWork__steps {
        flex-direction: column;
        align-items: center;
    }

    .howWork__step {
        padding: 16px;
        width: 61%;

        &:nth-child(2n+1) {
            margin-top: 0;
        }

        &:not(:last-child) {
            margin-bottom: 32px;
        }
    }

    .howWork__btn .button {
        padding: 8px 54px;
    }

    .howWork__cloud-left {
        max-width: 185px;
    }

    .howWork__cloud-right {
        bottom: 45%;
        max-width: 180px;
    }
}