@import 'mixins.scss';

.registration {
    padding: 32px 0 152px;
    text-align: center;

    .wrapper {
        position: relative;
    }

    &__subtitle {
        margin: 32px 0 64px;
        @include make-font-size (30px, 42px);
    }

    &__form {
        display: inline-block;
        padding: 48px;
        border-radius: 27px;
        box-shadow: $box-shadow;
    }

    &__group {
        position: relative;
        margin-bottom: 32px;
    }

    &__input {
        @include make-font-size (24px, 28px);
        padding: 0 10px;
        width: 400px;
        height: 64px;  
    } 

    &__button.button {
        font-family: 'Rubik', sans-serif;
        padding: 0;
        width: 400px;
        height: 64px;
    }

    &__accept {
        
        padding-top: 100px;
        border-radius: 27px;
        width: 496px;
        height: 352px;
        

        &-text {
            margin-top: 32px;
            font-weight: 400;
            @include make-font-size (24px, 28px);
        }
    }

    &__error {
        margin-top: 5px;

        &-text {
            @include make-font-size (13px, 15px);
            margin-left: 5px;
        }
    }

    &__cloud {
        position: absolute;
        z-index: -1;

        &-img {
            width: 100%;
        }

        &-desktop {
            top: -220px;
            right: 0; 
        }

        &-tablet-left,
        &-tablet-right,
        &-mobile {
            display: none;
        }
    }
}


// Form common styles

.form {
    background: $bg-color;
}

input {
    color: #FFF;
    border: 1px solid #C0C0C0;
    border-radius: 6px;
    background: $bg-color;

    &.err {
        border: 1px solid #FF0000;
    }

    &:focus, &:hover {
        outline: none;
        border: 1px solid #FF9737;
    }

    &:-webkit-autofill {
        -webkit-text-fill-color: #FFF;
        -webkit-box-shadow: 0 0 0px 64px #413F49 inset;
    }
}

.lable {
    position: absolute;
    top: -16px;
    left: 3px;
    font-weight: 300;
    @include make-font-size (13px, 15px);
}

.error {
    position: absolute;
    // display: flex;
    display: none;
    font-weight: 300;
    color:#FF0000;
    align-items: center;

    &-text {
        margin-left: 5px;
    }
}

.accept {
    display: none;
    background: $bg-color;
    transition: all 0.3s ease;
}

// Form end

// Adaptive --------------------
@media screen and (max-width: 1230px) {
    .registration__cloud-desktop {
        display: none;
    }

    .registration__cloud-tablet-left,
    .registration__cloud-tablet-right {
        display: block;
    }

    .registration__cloud-tablet-left {
        top:  -64px;
        left: 0;
    }    

    .registration__cloud-tablet-right {
        bottom: -100px;
        // right: 20%;
        right: 140px;
    }    
}

@media screen and (max-width: 860px) {
    .registration {
        padding-bottom: 118px;
        
        &__title {
            @include make-font-size (24px, 28px);
        }

        &__subtitle {
            margin: 32px 0 40px;
            @include make-font-size (14px, 20px);
        }
    
        &__form {
            padding: 32px;
            border-radius: 20px;
        }
    
        &__group {
            margin-bottom: 20px;
        }
    
        &__input {
            @include make-font-size (16px, 20px);
            width: 220px;
            height: 36px;
        }
    
        &__lable {
            top: -10px;
            @include make-font-size (9px, 11px);
        }
    
        &__button.button {
            width: 220px;
            height: 36px;
        }

        &__accept {
            padding-top: 56px;
            border-radius: 20px;
            width: 284px;
            height: 212px;

            & img {
                width: 56px;
            }

            &-text {
                margin-top: 24px;
                @include make-font-size (18px, 24px);
            }
        }

        &__error {
            @include make-font-size (9px, 11px);
            margin-top: 3px;

            & svg {
                width: 10px;
            }
    
            &-text {
                margin-left: 3px;
            }
        }

        &__cloud-tablet-right {
            bottom: -126px;
        }
    }
}

@media screen and (max-width: 500px) {
    .registration {
        padding-bottom: 48px;
        overflow: hidden;
    }

    .registration__cloud-tablet-left {
        display: none;
    }

    .registration__cloud-tablet-right {
        right: 0;
        bottom: -72px;
    }

    .registration__cloud-mobile {
        display: block;
        bottom: -16px;
        left: -74px;
        min-width: 435px;
    }
}

@media screen and (max-width: 400px) {
    .registration__subtitle {
        margin: 32px 0;
    }

    .registration__form {
        padding: 32px 30px;
    }
}